@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/pt_sans-web-bold-webfont.eot');
  src: url('../fonts/PTSans/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/pt_sans-web-bold-webfont.woff2') format('woff2'), url('../fonts/PTSans/pt_sans-web-bold-webfont.woff') format('woff'), url('../fonts/PTSans/pt_sans-web-bold-webfont.ttf') format('truetype'), url('../fonts/PTSans/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.eot');
  src: url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.woff2') format('woff2'), url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.woff') format('woff'), url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.ttf') format('truetype'), url('../fonts/PTSans/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/pt_sans-web-italic-webfont.eot');
  src: url('../fonts/PTSans/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/pt_sans-web-italic-webfont.woff2') format('woff2'), url('../fonts/PTSans/pt_sans-web-italic-webfont.woff') format('woff'), url('../fonts/PTSans/pt_sans-web-italic-webfont.ttf') format('truetype'), url('../fonts/PTSans/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/pt_sans-web-regular-webfont.eot');
  src: url('../fonts/PTSans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/pt_sans-web-regular-webfont.woff2') format('woff2'), url('../fonts/PTSans/pt_sans-web-regular-webfont.woff') format('woff'), url('../fonts/PTSans/pt_sans-web-regular-webfont.ttf') format('truetype'), url('../fonts/PTSans/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif/pt_serif-web-bold-webfont.eot');
  src: url('../fonts/PTSerif/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/pt_serif-web-bold-webfont.woff2') format('woff2'), url('../fonts/PTSerif/pt_serif-web-bold-webfont.woff') format('woff'), url('../fonts/PTSerif/pt_serif-web-bold-webfont.ttf') format('truetype'), url('../fonts/PTSerif/pt_serif-web-bold-webfont.svg#pt_serifbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.eot');
  src: url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.woff2') format('woff2'), url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.woff') format('woff'), url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.ttf') format('truetype'), url('../fonts/PTSerif/pt_serif-web-bolditalic-webfont.svg#pt_serifbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif/pt_serif-web-italic-webfont.eot');
  src: url('../fonts/PTSerif/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/pt_serif-web-italic-webfont.woff2') format('woff2'), url('../fonts/PTSerif/pt_serif-web-italic-webfont.woff') format('woff'), url('../fonts/PTSerif/pt_serif-web-italic-webfont.ttf') format('truetype'), url('../fonts/PTSerif/pt_serif-web-italic-webfont.svg#pt_serifitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif/pt_serif-web-regular-webfont.eot');
  src: url('../fonts/PTSerif/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/pt_serif-web-regular-webfont.woff2') format('woff2'), url('../fonts/PTSerif/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/PTSerif/pt_serif-web-regular-webfont.ttf') format('truetype'), url('../fonts/PTSerif/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThemeIcons';
  src: url('../fonts/ThemeIcons.eot?eq79sn');
  src: url('../fonts/ThemeIcons.eot?#iefixeq79sn') format('embedded-opentype'), url('../fonts/ThemeIcons.woff?eq79sn') format('woff'), url('../fonts/ThemeIcons.ttf?eq79sn') format('truetype'), url('../fonts/ThemeIcons.svg?eq79sn#ThemeIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ic-"],
[class*=" ic-"] {
  font-family: 'ThemeIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-plane:before {
  content: "\e200";
}
.ic-tag:before {
  content: "\e201";
}
.ic-paint:before {
  content: "\e202";
}
.ic-credit:before {
  content: "\e203";
}
.ic-phone:before {
  content: "\e204";
}
.ic-letter:before {
  content: "\e205";
}
.ic-stopwatch:before {
  content: "\e206";
}
.ic-bars:before {
  content: "\e207";
}
.ic-truck:before {
  content: "\e208";
}
.ic-download:before {
  content: "\e209";
}
.ic-upload:before {
  content: "\e20a";
}
.ic-warning:before {
  content: "\e20b";
}
.ic-question:before {
  content: "\e20c";
}
.ic-info:before {
  content: "\e20d";
}
.ic-success:before {
  content: "\e20e";
}
.ic-close2:before {
  content: "\e20f";
}
.ic-reload:before {
  content: "\e210";
}
.ic-scissors:before {
  content: "\e211";
}
.ic-googleplus:before {
  content: "\e212";
}
.ic-facebook:before {
  content: "\e213";
}
.ic-twitter:before {
  content: "\e214";
}
.ic-feed:before {
  content: "\e215";
}
.ic-youtube:before {
  content: "\e216";
}
.ic-vimeo:before {
  content: "\e217";
}
.ic-flickr:before {
  content: "\e218";
}
.ic-dribbble:before {
  content: "\e219";
}
.ic-github:before {
  content: "\e21a";
}
.ic-wordpress:before {
  content: "\e21b";
}
.ic-blogger:before {
  content: "\e21c";
}
.ic-tumblr:before {
  content: "\e21d";
}
.ic-skype:before {
  content: "\e21e";
}
.ic-home:before {
  content: "\e21f";
}
.ic-edit2:before {
  content: "\e220";
}
.ic-cart:before {
  content: "\e221";
}
.ic-menu:before {
  content: "\e222";
}
.ic-star-o:before {
  content: "\e223";
}
.ic-star:before {
  content: "\e224";
}
.ic-heart:before {
  content: "\e225";
}
.ic-heart-o:before {
  content: "\e226";
}
.ic-arrow-up:before {
  content: "\e227";
}
.ic-arrow-right:before {
  content: "\e228";
}
.ic-arrow-down:before {
  content: "\e229";
}
.ic-arrow-left:before {
  content: "\e22a";
}
.ic-filter:before {
  content: "\e22b";
}
.ic-lastminute:before {
  content: "\e22c";
}
.ic-close:before {
  content: "\e22d";
}
.ic-edit:before {
  content: "\e22e";
}
.ic-instagram:before {
  content: "\e22f";
}
.ic-user:before {
  content: "\e230";
}
.ic-mobile:before {
  content: "\e231";
}
.ic-pin:before {
  content: "\e232";
}
.ic-zoomin:before {
  content: "\e233";
}
.ic-zoomout:before {
  content: "\e234";
}
.ic-search:before {
  content: "\e235";
}
.ic-gift:before {
  content: "\e236";
}
.ic-anchor:before {
  content: "\e237";
}
.ic-calendar:before {
  content: "\e238";
}
.ic-remove:before {
  content: "\e239";
}
.ic-compare:before {
  content: "\e23a";
}
.ic-alarm:before {
  content: "\e23b";
}
.ic-plus:before {
  content: "\e23c";
}
.ic-minus:before {
  content: "\e23d";
}
.ic-pinterest:before {
  content: "\e23e";
}
.ic-call24:before {
  content: "\e23f";
}
.ic-callcenter:before {
  content: "\e240";
}
.ic-delivery:before {
  content: "\e241";
}
.ic-package:before {
  content: "\e242";
}
.ic-globe:before {
  content: "\e243";
}
.ic-lightbulb:before {
  content: "\e244";
}
.ic-microscope:before {
  content: "\e245";
}
.ic-24hours:before {
  content: "\e246";
}
.ic-coupon:before {
  content: "\e247";
}
.ic-tshirt:before {
  content: "\e248";
}
.ic-bag8:before {
  content: "\e249";
}
.ic-bag6:before {
  content: "\e24a";
}
.ic-bag4:before {
  content: "\e24b";
}
.ic-bag3:before {
  content: "\e24c";
}
.ic-bag7:before {
  content: "\e24d";
}
.ic-bag2:before {
  content: "\e24e";
}
.ic-bag5:before {
  content: "\e24f";
}
.ic-cart2:before {
  content: "\e250";
}
.ic-bag1:before {
  content: "\e251";
}
.ic-cart3:before {
  content: "\e252";
}
.ic-smartphones:before {
  content: "\e253";
}
.ic-grid:before {
  content: "\e254";
}
.ic-list:before {
  content: "\e255";
}
.ic-linkedin:before {
  content: "\e256";
}
.ic-bell:before {
  content: "\e257";
}
.ic-xing:before {
  content: "\e258";
}
.ic-vk:before {
  content: "\e259";
}
.ic-weibo:before {
  content: "\e25a";
}
.ic-renren:before {
  content: "\e25b";
}
.ic-behance:before {
  content: "\e25c";
}
.ic-vine:before {
  content: "\e25d";
}
.ic-share:before {
  content: "\e25e";
}
.ic-lowstock:before {
  content: "\e25f";
}
.ic-left:before {
  content: "\e260";
}
.ic-down:before {
  content: "\e261";
}
.ic-up:before {
  content: "\e262";
}
.ic-right:before {
  content: "\e263";
}
.clearfix,
.header__i,
.header__list,
.nav__list,
.breadcrumbs,
.page,
.content,
.content__topbar,
.content-nav,
.content-nav__item,
.content-view,
.content-pagin,
.content-pagin__list,
.content-products__row,
.footer__i,
.footer__list,
.footer__subscribe,
.footer-social {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.header__i:before,
.header__i:after,
.header__list:before,
.header__list:after,
.nav__list:before,
.nav__list:after,
.breadcrumbs:before,
.breadcrumbs:after,
.page:before,
.page:after,
.content:before,
.content:after,
.content__topbar:before,
.content__topbar:after,
.content-nav:before,
.content-nav:after,
.content-nav__item:before,
.content-nav__item:after,
.content-view:before,
.content-view:after,
.content-pagin:before,
.content-pagin:after,
.content-pagin__list:before,
.content-pagin__list:after,
.content-products__row:before,
.content-products__row:after,
.footer__i:before,
.footer__i:after,
.footer__list:before,
.footer__list:after,
.footer__subscribe:before,
.footer__subscribe:after,
.footer-social:before,
.footer-social:after {
  content: "";
  display: table;
}
.clearfix:after,
.header__i:after,
.header__list:after,
.nav__list:after,
.breadcrumbs:after,
.page:after,
.content:after,
.content__topbar:after,
.content-nav:after,
.content-nav__item:after,
.content-view:after,
.content-pagin:after,
.content-pagin__list:after,
.content-products__row:after,
.footer__i:after,
.footer__list:after,
.footer__subscribe:after,
.footer-social:after {
  clear: both;
}
._hidden {
  display: none;
}
.clearfix,
.header__i,
.header__list,
.nav__list,
.breadcrumbs,
.page,
.content,
.content__topbar,
.content-nav,
.content-nav__item,
.content-view,
.content-pagin,
.content-pagin__list,
.content-products__row,
.footer__i,
.footer__list,
.footer__subscribe,
.footer-social {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.header__i:before,
.header__i:after,
.header__list:before,
.header__list:after,
.nav__list:before,
.nav__list:after,
.breadcrumbs:before,
.breadcrumbs:after,
.page:before,
.page:after,
.content:before,
.content:after,
.content__topbar:before,
.content__topbar:after,
.content-nav:before,
.content-nav:after,
.content-nav__item:before,
.content-nav__item:after,
.content-view:before,
.content-view:after,
.content-pagin:before,
.content-pagin:after,
.content-pagin__list:before,
.content-pagin__list:after,
.content-products__row:before,
.content-products__row:after,
.footer__i:before,
.footer__i:after,
.footer__list:before,
.footer__list:after,
.footer__subscribe:before,
.footer__subscribe:after,
.footer-social:before,
.footer-social:after {
  content: "";
  display: table;
}
.clearfix:after,
.header__i:after,
.header__list:after,
.nav__list:after,
.breadcrumbs:after,
.page:after,
.content:after,
.content__topbar:after,
.content-nav:after,
.content-nav__item:after,
.content-view:after,
.content-pagin:after,
.content-pagin__list:after,
.content-products__row:after,
.footer__i:after,
.footer__list:after,
.footer__subscribe:after,
.footer-social:after {
  clear: both;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  border: 0;
}
.container,
.header__i,
.nav__list,
.breadcrumbs,
.page {
  max-width: 1176px;
  padding: 0;
  margin: 0 auto;
}
.container-footer,
.footer__i {
  max-width: 1182px;
  padding: 0;
  margin: 0 auto;
}
.header {
  background: linear-gradient(to bottom, #405d7f 0%, #2d435b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#405d7f', endColorstr='#2d435b');
  width: 100%;
}
.header__logo {
  color: #fff;
  font-family: "PT Serif";
  font-size: 3.375em;
  line-height: 54px;
  padding-top: 14px;
  float: left;
}
.header__list {
  float: right;
  padding: 30px 0;
}
.header__item {
  float: left;
  margin-left: 14px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__link {
  color: #fff;
  font-family: "PT Sans";
  font-size: 0.875em;
  line-height: 14px;
}
.header__link span {
  padding-right: 2px;
}
.header__count {
  padding-left: 5%;
}
.header__search {
  padding-top: 19px;
  margin-left: 10.5%;
  width: 51.7%;
  float: left;
  position: relative;
}
.header__input {
  width: 87%;
  border: 0;
  font-size: 14px;
  color: #ccc;
  padding: 12px 10px;
  font-family: "PT Sans";
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.header__btn {
  position: absolute;
  right: 0;
  padding: 14px 3.8%;
  background: #ffc75c;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.header__btn span {
  font-size: 1.125em;
}
.nav {
  background: linear-gradient(to bottom, #ffffff 0%, #d1d5d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#d1d5d9');
}
.nav__item {
  float: left;
  text-transform: uppercase;
  padding: 12px 2.2% 12px 1.4%;
  border-left: 1px solid #fff;
  border-right: 1px solid #d2d4d6;
}
.nav__item:first-child {
  padding-left: 0;
  border-left: none;
}
.nav__item:nth-child(4) {
  border-right: none;
}
.nav__item:nth-child(5) {
  border-right: none;
  padding-right: 3%;
  padding-left: 2.8%;
}
.nav__item:nth-child(5) .ic-cart {
  font-size: 1em;
  left: -60%;
}
.nav__item:last-child {
  border-left: none;
}
.nav__item:last-child .ic-compare {
  font-size: 1em;
  left: -43%;
}
.nav__item_right {
  float: right;
}
.nav__item span {
  font-size: 1.25em;
  position: absolute;
  top: 0;
}
.nav__link {
  color: #173650;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 0.875em;
  line-height: 14px;
  position: relative;
}
.breadcrumbs {
  padding: 24px 0 9px;
}
.breadcrumbs__item {
  color: #d0d0d0;
  float: left;
  font-family: "PT Sans";
  font-size: 0.625em;
  padding: 0;
  border-bottom: 1px solid #d0d0d0;
}
.breadcrumbs__item:first-child {
  padding-left: 0;
}
.breadcrumbs__item:last-child {
  border: none;
}
.breadcrumbs .ic-arrow-right {
  font-size: 0.5em;
  font-weight: normal;
  padding: 0 4px;
  border-bottom: none;
  float: left;
  color: #d0d0d0;
  margin-top: 3px;
}
.sidebar {
  width: 19.8%;
  float: left;
}
.sidebar__title {
  font-family: "PT Sans";
  font-size: 0.875em;
  font-weight: bold;
  padding: 7px 10px;
  color: #fff;
  background: linear-gradient(to bottom, #405d7f 0%, #2d435b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#405d7f', endColorstr='#2d435b');
}
.sidebar-first__list {
  background: #f8f8f8;
  border-left: 1px solid #e2e3e4;
  border-right: 1px solid #e2e3e4;
  padding: 15px 9%;
  font-family: "PT Sans";
  font-size: 0.875em;
}
.sidebar-first__item {
  font-weight: bold;
  padding-bottom: 12px;
}
.sidebar-first__item:first-child {
  padding-bottom: 13px;
}
.sidebar-first__item:nth-child(3) {
  padding-bottom: 9px;
}
.sidebar-first__item:nth-child(5) {
  padding-bottom: 9px;
}
.sidebar-first__link {
  color: #000;
}
.sidebar-second__list {
  padding-top: 6px;
}
.sidebar-second__item {
  position: relative;
  padding-left: 6.5%;
  padding-bottom: 1px;
  font-weight: normal;
}
.sidebar-second__item .ic-right {
  font-size: 1.25em;
  position: absolute;
  left: -3%;
}
.sidebar-second__item .ic-down {
  font-size: 1em;
}
.sidebar-second__item .count {
  color: #ccc;
}
.sidebar-second__link {
  color: #000;
}
.sidebar-second__link_more {
  border-bottom: 1px dashed #000;
}
.sidebar-paypal {
  padding: 25px 0 28px 0;
}
.sidebar-paypal__title {
  font-family: "PT Sans";
  font-size: 1.125em;
  font-weight: bold;
  padding-bottom: 3px;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.sidebar-paypal__descr {
  color: #999;
  font-family: "PT Sans";
  font-size: 0.875em;
  padding-top: 13px;
  padding-bottom: 11px;
}
.sidebar-paypal__img {
  display: block;
  padding-bottom: 4px;
}
.sidebar-paypal__link {
  color: #999;
  font-family: "PT Sans";
  font-size: 0.8125em;
  border-bottom: 1px solid #999;
}
.content {
  width: 77.5%;
  float: right;
}
.content__title {
  font-family: "PT Sans";
  font-size: 1.25em;
  line-height: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 3px 1% 6px;
}
.content__topbar {
  border-bottom: 1px dashed #ccc;
}
.content-nav {
  padding: 19px 0;
  float: left;
  width: 50%;
}
.content-nav__item {
  float: left;
  padding: 0 1%;
  border-right: 1px solid #ccc;
  width: 31%;
}
.content-nav__item:first-child {
  padding-left: 0;
}
.content-nav__item:last-child {
  border-right: none;
}
.content-nav__number {
  font-family: "PT Sans";
  font-size: 0.875em;
  letter-spacing: -0.8px;
  padding-top: 2px;
  float: left;
}
.content-nav__number span {
  font-weight: bold;
}
.content-nav__select {
  float: left;
  margin: 0 2%;
  padding: 0 1%;
  cursor: pointer;
  border-radius: 4px;
}
.content-nav .ic-arrow-down {
  float: left;
  font-size: 0.875em;
  padding-top: 4px;
}
.content-view {
  float: right;
  padding: 19px 0;
  width: 12.8%;
}
.content-view__number {
  float: left;
  letter-spacing: -1px;
  padding-right: 8%;
}
.content-view__img {
  float: left;
  cursor: pointer;
  padding: 0 0;
  padding: 2px 6%;
}
.content-view__img:hover {
  background: #e5e5e5;
}
.content-pagin {
  padding: 11px 0 21px;
}
.content-pagin__page {
  font-family: "PT Sans";
  font-size: 0.875em;
  letter-spacing: -0.8px;
  padding-top: 4px;
  float: left;
  padding-right: 1%;
}
.content-pagin__list {
  float: left;
  margin-top: 6px;
}
.content-pagin__link {
  color: #000;
  padding: 6px 11.5px;
  background: #f5f5f5;
}
.content-pagin__item {
  float: left;
  margin-right: 1px;
  font-family: "PT Sans";
  font-size: 0.75em;
}
.content-pagin__item:hover {
  background: #e5e5e5;
}
.content-pagin__item:last-child a {
  padding: 5.5px 9px 8.5px;
}
.content-products__row {
  border: 1px solid #ccc;
}
.content-products__row:last-child {
  border-top: none;
}
.content-products__item {
  width: 25%;
  float: left;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px 1.7%;
}
.content-products__item:last-child {
  border-right: none;
}
.content-products__img {
  width: 100%;
}
.content-products__title {
  padding-top: 22px;
  font-size: 0.875em;
  line-height: 20px;
  color: #0000cc;
}
.content-products__price {
  font-size: 1.375em;
  color: #b03911;
}
.footer {
  background: linear-gradient(to bottom, #dddddd 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ddd', endColorstr='#fff');
}
.footer_left {
  float: left;
}
.footer_right {
  float: right;
  width: 31.72588832%;
  margin-right: 0.4%;
}
.footer__list {
  margin-top: 18px;
}
.footer__item {
  float: left;
  border-right: 1px solid #a7a6a6;
  padding: 0 4px;
  line-height: 12px;
  font-family: "PT Sans";
  font-size: 0.75em;
}
.footer__item:first-child {
  padding-left: 0;
}
.footer__item:last-child {
  border-right: none;
}
.footer__link {
  color: #1a69c3;
  border-bottom: 1px solid #1a69c3;
}
.footer__copywrite {
  padding: 10px 0 7px;
  line-height: 12px;
  font-family: "PT Sans";
  font-size: 0.75em;
  color: #999;
}
.footer__subscribe {
  margin-top: 15px;
}
.footer__label {
  font-family: "PT Sans";
  font-size: 0.75em;
  float: left;
  margin-top: 10px;
  margin-right: 3%;
  color: #949393;
}
.footer__input {
  width: 53%;
  border: 0;
  font-size: 14px;
  color: #ccc;
  padding: 7px 10px;
  margin-right: 1%;
  border: 1px solid #adadad;
  font-family: "PT Sans";
  border-radius: 4px;
  float: left;
}
.footer__btn {
  right: 0;
  padding: 8px 3%;
  background: #ffc75c;
  border: 1px solid #adadad;
  border-radius: 4px;
  background: linear-gradient(to bottom, #ffffff 0%, #ebf3fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff', endColorstr='#ebf3fb');
  float: left;
  color: #b8b9ba;
}
.footer-social__item {
  float: left;
  font-size: 0.875em;
  padding-right: 1.4%;
}
.footer-social__link {
  color: #828282;
}
